 <section class="work-fluid" id="nav3">
            <div class="container">
            {% for about in site.data.about-section %}
                <div class="row">
                    <aside class="col-md-12">
                        <h1 class="text-center">{{about.about-title}}</h1>
                    </aside>
                    <aside class="col-md-6"><img src="{{site.baseurl}}/images/{{about.about-image}}" class="img-fluid" alt=""/></aside>
                    <aside class="col-md-6">
                        <p>{{about.about-content}}</p>
                        <ul class="bulleted-list">
                            <li>{{about.point-one}}</li>
                            <li>{{about.point-two}}</li>
                            <li>{{about.point-three}}</li>
                            <li>{{about.point-four}}</li>
                         </ul>
                    </aside>
                </div>
                {% endfor %}
            </div>
        </section>