	<footer>
    	<section class="foot-top">
        	<div class="container">
            {% for footer in site.data.footer-section %}
            	<div class="row">
                	<aside class="col-md-4">
                   	  <a href="#" class="foot-logo">{{footer.footer-title}}</a>
                      <div class="clearfix"></div>
                      <p>{{footer.footer-address}}</p>
             {% endfor %}
              {% for header in site.data.header-section %}
                      <ul class="social-media">
                        	<li><a href="{{footer.}}"><img src="{{site.baseurl}}/images/facebook-01.png" alt=""/></a></li>
                            <li><a href="{{footer.}}"><img src="{{site.baseurl}}/images/twitter-01.png" alt=""/></a></li>
                            <li><a href="{{footer.}}"><img src="{{site.baseurl}}/images/linkedin-01.png" alt=""/></a></li>
                            <li><a href="{{footer.}}"><img src="{{site.baseurl}}/images/google-plus-01.png" alt=""/></a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-4">
                    	<h4>Like us on Facebook</h4>
                        <div class="facebook-page"><img src="{{site.baseurl}}/images/{{footer.facebook-image}}" alt=""/></div>
                  	</aside>
                    <aside class="col-md-4">
                   	  	<h4>Get in touch</h4>
                        <div class="foot-contact">
                        	<div class="row">
                                <aside class="col-sm-3">Addreess: </aside>
                                <aside class="col-sm-9">{{header.address}}</aside>
                            </div>
                        </div>
                        <div class="foot-contact">
                        	<div class="row">
                                <aside class="col-sm-3">Phone:</aside>
                                <aside class="col-sm-9"><a href="_tel:{{header.phone}}" class="email">{{header.phone}}</aside>
                            </div>
                        </div>
                        <div class="foot-contact">
                        	<div class="row">
                        		<aside class="col-sm-3" style="color:#fff">Email:</aside>
                            	<aside class="col-sm-9"><a href="mailto:{{header.email}}" class="email">{{header.email}}</a></aside>
                            </div>
                        </div>
                    </aside>
                    {% endfor %}
                </div>
               
            </div>
    	</section>
        <section class="foot-bottom">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-12 text-center copyrights">2016 &copy; All Rights Reserved.</aside>
                </div>
            </div>
        </section>
 	</footer>