	<header>
    	<div class="container">
        	<div class="row">
            	<div class="col-md-3"><a href="#" class="logo">C.R.I. PUMPS</a></div>
                <div class="col-md-9">
                	<div class="head-top">
                        <ul class="social">
                        	<li><a href="#"><img src="images/facebook-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/twitter-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/linkedin-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/google-plus-02.png" alt=""/></a></li>
                        </ul>
                        <a href="mailto:sales@circlepower.com" class="email">sales@circlepower.com</a>
                        <a href="#" class="phone">(65) 6570 6166</a>
                    </div>
                	<div class="clearfix"></div>
                	<ul class="nav">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Certification</a></li>
                        <li><a href="#">Enquiry</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>