<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom-styles.css">
<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<div class="">
	<header>
    	<div class="container">
        	<div class="row">
            	<div class="col-md-3"><a href="#" class="logo">C.R.I. PUMPS</a></div>
                <div class="col-md-9">
                	<div class="head-top">
                        <ul class="social">
                        	<li><a href="#"><img src="images/facebook-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/twitter-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/linkedin-02.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/google-plus-02.png" alt=""/></a></li>
                        </ul>
                        <a href="mailto:sales@circlepower.com" class="email">sales@circlepower.com</a>
                        <a href="#" class="phone">(65) 6570 6166</a>
                    </div>
                	<div class="clearfix"></div>
                	<ul class="nav">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Certification</a></li>
                        <li><a href="#">Enquiry</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    

    {{content}}
    
	<footer>
    	<section class="foot-top">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-4">
                   	  <a href="#" class="foot-logo">C.R.I. PUMPS</a>
                      <div class="clearfix"></div>
                      <p>Incorporated since 1998, Circle Power Electrical Engineering Pte Ltd’s core business activities include maintenance and upgrading of electrical works and fixtures for major town councils in Singapore. On a contract basis, we have achieved satisfactory performance and good work performance for more than 10 town councils over the past 2 decades.</p>
                      <ul class="social-media">
                        	<li><a href="#"><img src="images/facebook-01.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/twitter-01.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/linkedin-01.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/google-plus-01.png" alt=""/></a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-4">
                    	<h4>Like us on Facebook</h4>
                        <div class="facebook-page"><img src="images/facebook-page.jpg" alt=""/></div>
                  	</aside>
                    <aside class="col-md-4">
                   	  	<h4>Get in touch</h4>
                        <div class="foot-contact">
                        	<div class="row">
                                <aside class="col-sm-3">Addreess : </aside>
                                <aside class="col-sm-9">7030 Ang Mo Kio Avenue 5 #03-44 <br />Northstar Singapore 569880</aside>
                            </div>
                        </div>
                        <div class="foot-contact">
                        	<div class="row">
                                <aside class="col-sm-3">Phone :</aside>
                                <aside class="col-sm-9">(65) 6570 6166 - Office <br />(65) 6570 6232 - Fax</aside>
                            </div>
                        </div>
                        <div class="foot-contact">
                        	<div class="row">
                        		<aside class="col-sm-3">Email :</aside>
                            	<aside class="col-sm-9"><a href="mailto:sales@circlepower.com" class="email">sales@circlepower.com</a></aside>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
    	</section>
        <section class="foot-bottom">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-12 text-center copyrights">2016 &copy; Circle Power Electrical Engineering Pte Ltd. All Rights Reserved.</aside>
                </div>
            </div>
        </section>
 	</footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>